{% extends './base.html' %}

{% block content %}
<!-- card -->
{% for post in post %}
<div class="mb-5 card mx-auto' style='width: 18rem; margin-top: 20px;'>">
  {% if post.published_date %}
  <div class="card-header">{{post.published_date}}</div>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.text|linebreaksbr}}</p>
    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Detalhes</a>
  </div>
</div>
{% endfor %}
<!--card end  -->
{% endblock %}
